# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
devopsenv/
*.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build output
dist/
build/

# Docker
*.local
